.body {
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
}
li{
    list-style: none;

}

/* flex-direction */
#ex1 {
    display: flex;
    background-color: antiquewhite;
    flex-direction: row; /* Alinha itens horizontalmente (padrão) */
}

#ex2 {
    display: flex;
    background-color: aquamarine;
    flex-direction: column; /* Alinha itens verticalmente */
}

/* flex-wrap */
#ex3 {
    display: flex;
    background-color: blueviolet;
    flex-wrap: nowrap; /* Todos os itens em uma única linha (padrão) */
}
#ex4 {
    display: flex;
    flex-wrap: wrap; /* Quebra os itens em várias linhas */
    background-color:bisque;
}

/* justify-content */
#ex5{
    display: flex;
    justify-content: flex-start; /* Itens alinhados no início do eixo principal (padrão) */
    background-color: lawngreen;
}
#ex6{
    display: flex;
    justify-content: center; /* Itens alinhados no centro do eixo principal */
    background-color: lightcyan;
}
#ex7{
    display: flex;
    justify-content: space-between; /* Espaço igual entre itens */
    background-color: lemonchiffon;
}
#ex8{
    display: flex;
    justify-content: space-around; /* Espaço igual ao redor dos itens */
    background-color: lavender;
}
